{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "name": "Chris S. Barthel",
      "honorificSuffix": "CFP®, ChFC®",
      "jobTitle": "Financial Advisor",
      "worksFor": {
        "@type": "InsuranceAgency",
        "name": "The Barthel Agency",
        "url": "{{cfg.site.url}}/"
      },
      "telephone": "+1-812-386-7727",
      "birthDate": "1967-09",
      "image": "{{cfg.site.url}}/img/team-chris-barthel.jpg",
      "url": "{{cfg.site.url}}/team/"
    },
    {
      "@type": "Person",
      "name": "Susan Farmer",
      "jobTitle": "Health Insurance Specialist",
      "worksFor": {
        "@type": "InsuranceAgency",
        "name": "The Barthel Agency",
        "url": "{{cfg.site.url}}/"
      },
      "telephone": "+1-812-386-7727",
      "email": "mailto:Susan@thebarthelagency.com",
      "image": "{{cfg.site.url}}/img/team-susan-farmer.jpg",
      "url": "{{cfg.site.url}}/team/"
    },
    {
      "@type": "Person",
      "name": "Jennifer MacKay",
      "honorificSuffix": "CISR Elite",
      "jobTitle": "Property & Casualty Insurance Specialist",
      "worksFor": {
        "@type": "InsuranceAgency",
        "name": "The Barthel Agency",
        "url": "{{cfg.site.url}}/"
      },
      "telephone": "+1-812-386-7727",
      "email": "mailto:Jennifer@thebarthelagency.com",
      "image": "{{cfg.site.url}}/img/team-jennifer-mackay.jpg",
      "url": "{{cfg.site.url}}/team/"
    }
  ]
}
